<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
<system.web>
    <httpRuntime targetFramework="4.5.1" maxUrlLength="2097151" maxRequestLength="2097151" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Windows" />
    <authorization> 
      <allow users="DESKTOP-SMFSMR4\Users" />
    </authorization>
    <machineKey validationKey="33F581A874F154E9E281922D09801A65F09387AEC223813B894B78CAECED67DDAC7051748F97B44669BAD9C5D33B337DEECF6A51364664FAEAFE60E5F4435E9B,IsolateApps" decryptionKey="82D9A54C881A682EEC16903733903F50A3FAB34DDEC384D2,IsolateApps" />
    <pages controlRenderingCompatibilityVersion="4.5" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ErrorLogging" type="Rhetos.Web.ErrorHandlerBehavior, Rhetos.Web" />
        <add name="JsonError" type="Rhetos.Web.JsonErrorBehaviorExtension, Rhetos.Web" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Rhetos.RhetosService">
        <clear />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="rhetosBasicHttpBinding" name="basic" contract="Rhetos.IServerApplication" listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
            <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="rhetosBasicHttpBinding" maxReceivedMessageSize="104857600">
          <readerQuotas maxArrayLength="104857600" maxStringContentLength="104857600" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="rhetosWebHttpBinding" maxReceivedMessageSize="104857600">
          <readerQuotas maxArrayLength="104857600" maxStringContentLength="104857600" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ErrorLogging />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>